/*Задаем ширину контейнера*/
.header {
    max-width: 1196px;
    margin: 81px auto 39px;
}

/*Описываем шрифты*/
.header__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;
    color: #000000;
    margin-bottom: 74px;
}

.text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}

.text_grey {
    color: #A3A6A9;
}

/*Работаем с body*/
.header__body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.input {
    border: none;
    border-bottom: solid 1px black;
    min-width: 466px;
    margin: 0;
    padding: 0;
}

.header__input {
    margin-left: -70px;
}


.header__select__title, .header__input__title {
    margin-bottom: 11px;
}

.header__input__input, .header__select__select {
    padding-bottom: 7px;
}

.header__select__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.header__select__select:not([multiple]) {
    background-repeat: no-repeat;
    background-position: calc(100% - 0.25em) 0.35em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='9' viewBox='0 0 20 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 9L19.5263 0H0.473721L10 9Z' fill='black'/%3e%3c/svg%3e ");
}

.header__sort {
    margin: 36px 0 18px 0;
}

.header__sort__text {
    cursor: pointer;
}



