@import '../../scss/customSetings';

.main {
    &__card {
        display: grid;
        grid-gap: $gs * 3;
    }

    &__sections:last-child {
        margin-bottom: $gs * 4;
    }

    &__skeleton {
        height: 20px;
    }
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: solid 1px black;
    padding: $gs * 2;
    min-height: 250px;

    &__column-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__icons {
        max-width: 30%;
    }

    &__logo {
        width: 100%;
        object-fit: cover;
    }

    &__left-block {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $color-black;
    }

    &__left-text {
        margin-top: $gs * 2;

        & span {
            color: $color-545454;
        }

        @media (max-width: $media-640) {
            margin: 0 auto $gs * 2;
        }
    }

    &__title {
        margin-top: 0;
        color: $color-black;
    }

    &__right-text {
        font-size: 16px;
        line-height: 22px;
        color: $color-black;
        height: $gs * 8;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30%;
            background: $color-gradient;
        }

        &--close {
            word-wrap: break-word;
        }
    }

    &__but-wrap {
        text-align: center;
    }

    &__button {
        border: none;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: $color-a3a6a9;
        cursor: pointer;
        background: $color-gradient;
        margin-bottom: $gs;
    }
}
