/*Описываем позиционирование контейнеров*/
.main {
    max-width: 1196px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__sections {
    border: solid 1px black;
    display: flex;
    min-height: 331px;
}

.main__sections__column-left {
    min-width: 40%;
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__sections__icons {
    max-width: 35%;
}

.main__sections__logo {
    width: 100%;
    object-fit: cover;
    margin-bottom: 57px;
}

/*Описываем шрифты */
.main__sections__text-left {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.text-left_gray {
    color: #545454;
}

.text-left_margin-top {
    margin-top: 17px;
}

.main__sections__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 8px;
}

.main__sections__text-right {
    margin: 8px 21px 5px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.main__sections__text-right:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -59.32%, #FFFFFF 42.84%);
}

.main__sections__but-right {
    text-align: center;
}

.but-right__button {
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #A3A6A9;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -59.32%, #FFFFFF 42.84%);
    margin-bottom: 5px;
}

.main__sections__text-right_close {
    margin: 8px 21px 5px 0;
    font-family: Roboto;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    position: relative;
    word-wrap: break-word
}

/*Адаптив для main и header будет здесь */
@media (max-width: 1200px) {
    .main, .header  {
        width: 80%;
    }
    .input {
        width: 100%;
    }
    .header__body {
        flex-direction: column;
    }
    .header__input {
        margin: 36px 0 0;
    }
}

@media (max-width: 800px) {
    .main, .header  {
        width: 80%;
        margin: 0 auto;
    }
    .main__sections {
        flex-direction: column;
        justify-content: center;
    }
    .header__title {
        margin: 81px 0 32px;
    }
    .main__sections__column-left {
        align-items: center;
    }
    .main__sections__text-left {
        margin: -16px 11px 16px 20px;
    }
    .main__sections__column-right {
        margin: 16px 11px 16px 20px;
    }

}

@media (max-width: 590px) {
    .main, .header {
        width: 80%;
    }
    .input {
        min-width: 80%;
    }
    .header__title {
        font-size: 32px;
        line-height: 38px;
    }
    .header__select__title, .header__input__title {
        margin-bottom: 5px;
    }
    .header__input {
        margin-top: 16px;
    }
    .header__sort {
        margin-top: 19px;
    }
    .main__sections__column-left {
        align-items: center;
    }
    .main__sections__text-left {
        margin: -16px 11px 16px 20px;
    }
    .main__sections__column-right {
        margin: 16px 11px 16px 20px;
    }
    .main__sections__title {
        margin-bottom: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 160%;
        color: #000000;
    }
    .main__sections__icons {
        max-width: 50%;
    }
}



